<!doctype html>
<html
	lang="ko"
	layout:decorate="~{layouts/layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8"/>
	<title>작성</title>
	<link rel="stylesheet" th:href="@{/css/boardwrite.css}"/>
</head>
<body>
<div class="main-content" layout:fragment="content">
	<div class="container mt-5">
		<div class="mb-4 title h3">상품 올리기</div>
		<form
			action="/board/writepro"
			class="needs-validation box"
			enctype="multipart/form-data"
			method="post"
			novalidate
		>
			<div class="form-group mb-3">
				<label class="form-label" for="title">제목</label>
				<input
					class="form-control"
					id="title"
					name="title"
					placeholder="제목을 입력하세요"
					required
					type="text"
				/>
				<div class="invalid-feedback">제목을 입력하세요.</div>
			</div>
			<div class="form-group mb-3">
				<label class="form-label" for="categ">카테고리</label>
				<select class="form-select" id="categ" name="cateID" required>
					<option selected value="">카테고리 선택</option>

					<th:block th:each="board, iterStat : ${categList}">
						<option
							th:text="${board}"
							th:value="${iterStat.index + 1}"
						></option>
					</th:block>
				</select>
				<div class="invalid-feedback">카테고리를 선택하세요.</div>
			</div>
			<div class="form-group mb-3 price">
				<label class="form-label" for="price">가격</label>
				<div class="price-box">
					<input
						class="form-control"
						id="price"
						name="price"
						placeholder="가격을 입력하세요"
						required
						type="number"
					/>
					<p>원</p>
				</div>
				<div class="invalid-feedback">가격을 입력하세요.</div>
			</div>
			<div class="form-group mb-3">
				<label class="form-label" for="quality-button">상품 상태</label>
				<div
					aria-label="Basic radio toggle button group"
					class="btn-group quality-btn-wrap"
					id="quality-button"
					role="group"
				>
					<input
						autocomplete="off"
						checked
						class="btn-check"
						id="perfect"
						name="quality"
						type="radio"
						value="perfect"
					/>
					<label
						class="btn btn-outline-primary quality-select"
						for="perfect"
					>매우 좋음</label
					>

					<input
						autocomplete="off"
						class="btn-check"
						id="good"
						name="quality"
						type="radio"
						value="good"
					/>
					<label class="btn btn-outline-primary quality-select" for="good"
					>좋음</label
					>

					<input
						autocomplete="off"
						class="btn-check"
						id="bad"
						name="quality"
						type="radio"
						value="bad"
					/>
					<label class="btn btn-outline-primary quality-select" for="bad"
					>보통</label
					>
				</div>
			</div>
			<div class="form-group mb-3">
				<label class="form-label" for="content">상품 설명</label>
				<textarea
					class="form-control"
					id="content"
					name="content"
					placeholder="내용을 입력하세요"
					required
					rows="5"
				></textarea>
				<div class="invalid-feedback">내용을 입력하세요.</div>
			</div>
			<input name="status" type="hidden" value="1"/>
			<div class="form-group mb-3">
				<label class="form-label" for="file">파일 업로드</label>
				<input class="form-control" id="file" name="file" type="file"/>
			</div>
			<div class="button-group">
				<button
					class="btn btn-cancel btn-primary"
					onclick="history.back()"
					type="button"
				>
					취소
				</button>
				<button class="btn btn-submit btn-primary" type="submit">
					작성
				</button>
			</div>
		</form>
	</div>
</div>

<script
	crossorigin="anonymous"
	integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7O0l5P1CM4DEt7C4ao8mROls2BbFdf4QdKP"
	src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<script
	crossorigin="anonymous"
	integrity="sha384-IQsoLXlWTJYILwAJtoYpKEOJ4ILx35ZeBzauPLnEDM7zAayG7R4c1OgEY2tBy7hP"
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
></script>
<script
	crossorigin="anonymous"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"
></script>

<script>
    // 부트스트랩의 폼 검증 기능을 활성화합니다.
    (function () {
        "use strict";
        var forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener(
                "submit",
                function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                },
                false,
            );
        });
    })();
</script>
</body>
</html>
